@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

:root {
    --texto-bonito {
        font-family: "Dosis", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
    }
}

img {
    max-width: 100%;
    height: auto;
}

a {text-decoration: inherit;}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    background: rgb(0,121,255);
    background: linear-gradient(166deg, rgba(0,121,255,1) 0%, rgba(47,226,243,1) 100%);
    background-size: cover;
    height: 100vh;
    color: #fff;
}

.header-BCN {
    background-color: rgb(10, 48, 163);
    color: #fff;
    padding: 1.5em;
}

.h1-BCN-header {
    font-size: 2.5em;
    margin-left: 11%;
    font-family: var(--texto-bonito);
}

.div-text-container h2 {
    font-size: 4em;
    margin-block: .5em;
}

.div-text-container p {
    font-size: 20px;
    margin-block: 30px;
}

.form-contaminations-ul {
    display: flex;
}

.contaminacion-li {
    margin-right: 20px;
}

.contaminacion-li input{
    padding: .5em;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: #000 solid 1px; 
    color: #fff;
}

.contaminacion-li:nth-child(3) input{
    color: #fff;
    background: #0090fc;
    padding: 1em 2em;
    font-size: 1em;
    text-shadow: 3px -1px black;
    border-bottom: none;
    cursor: pointer;
}

.flex-rigth {
    display: flex;
    justify-content: flex-end;
}

.flex-rigth img {
    height: 353px;
    margin-right: 126px;
}