@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

:root {
    --texto-bonito {
        font-family: "Dosis", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
    }
}

html{
    background: linear-gradient(166deg, rgba(0,121,255,1) 0%, rgba(47,226,243,1) 100%);
    color: #fff;
    height: 260vh;
}

img {
    max-width: 100%;
    height: auto;
}

a {text-decoration: inherit;}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
/* 
.container-contamination{
    background: linear-gradient(166deg, rgba(0,121,255,1) 0%, rgba(47,226,243,1) 100%);
}

.container-result {
    background: rgb(0,121,255);
    background: linear-gradient(166deg, rgba(0,121,255,1) 0%, rgba(47,226,243,1) 100%);
    color: #fff;
} */

.header-BCN {
    background-color: rgb(10, 48, 163);
    color: #fff;
    padding: 1.5em;
}

.h1-BCN-header {
    font-size: 2.5em;
    margin-left: 11%;
    font-family: var(--texto-bonito);
}

/* .div-text-container h1 {
    margin-block: .5em;
} */

.div-text-container h2 {
    font-size: 4em;
    margin-block: .5em;
}

.div-text-container p {
    font-size: 20px;
    margin-block: 30px;
}

.form-contaminations-ul {
    display: flex;
}

.contaminacion-li {
    margin-right: 20px;
}

.contaminacion-li input{
    padding: .5em;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: #fff solid 1px; 
    color: #fff;
}

.contaminacion-li:nth-child(3) input{
    color: #fff;
    background: rgb(10, 48, 163);
    padding: 1em 2em;
    font-size: 1em;
    text-shadow: 3px -1px 7px black;
    border-bottom: none;
    cursor: pointer;
}

.flex-rigth {
    display: flex;
    justify-content: flex-end;
}

.flex-rigth img {
    height: 353px;
    margin-right: 126px;
}

::placeholder {
    color: white; /* Cambia el color del texto del placeholder a blanco */
}

.error_message{
    color: rgb(255 92 92);
    font-size: 1.5em;
    margin-top: 32px;
}

a {
    color: #fff;
    background: rgb(10, 48, 163);
    padding: 0.3em 1em;
    font-size: 1em;
    margin-block: 60px;
    text-shadow: 3px -1px 7px black;
    border-bottom: none;
    cursor: pointer;
    text-align: center;
    margin-left: 39.5%;
    width: 254px;
}


.table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.5em;
    margin-block: 1em;
}

.table-container h1 {
    text-align: center;
    margin-block: 1em;
}

.table-container table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 1em;
}

th, td {
    border: 2px solid white;
    width: 269px;
    text-align: center;
}

tr:nth-child(odd) {
    background-color: rgb(24, 80, 247);
}

th {
    background-color: rgb(10, 48, 163);
    color: white;
}

select {
    background-color: rgb(0,121,255);
    color: white;
    font-size: 16px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 200px;
    outline: none;
}

/* Estilos para las opciones */
option {
    background-color: rgb(0,121,255);
    color: white;
}


/* estilo para las estadisticas */

.container-estadisct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-estadisct h2 {
    font-size: 1.3em;
    margin-block: 19px;
}
